---
import { Image } from '@astrojs/image/components';
import { v2 as cloudinary } from 'cloudinary';

export interface props {
  cloudFolder: string;
}

const { cloudFolder } = Astro.props;

const cloud_birds = await cloudinary.search.expression(`folder:${cloudFolder}/*`)
  .sort_by('public_id','asc')
  .max_results(30)
  .execute()
  .then(res => {
    return res.resources
  });

---

<ul class="gallery" id="bird-gallery">
  {
    cloud_birds.map((img: { url: any; width: number; height: number; }) => (
      <li>
        <a href={img.url}
            data-pswp-width={img.width} 
            data-pswp-height={img.height} 
            target="_blank">
          <Image
            src={img.url}
            width={200}
            aspectRatio={img.width / img.height}
            class="gallery__image"
            />
        </a>
      </li>
    ))
  }
</ul>

<style>
  .gallery {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .gallery li {
    flex-basis: 200px;
  }

  .gallery img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    transition: transform .2s;
  }

  .gallery img:hover {
    position: relative;
    /* bottom: 1rem; */
    transform: translateY(-1rem);
  }

</style>

<script>
  import PhotoSwipeLightbox from 'photoswipe/lightbox';
  import 'photoswipe/style.css';

  const lightbox = new PhotoSwipeLightbox({
    gallery: '#bird-gallery',
    children: 'li',
    pswpModule: () => import('photoswipe')
  });
  lightbox.init();
</script>