---
import { Image } from "@astrojs/image/components";
import { v2 as cloudinary } from "cloudinary";
import PhotoswipeWrapper from "./PhotoswipeWrapper.astro";

export interface props {
  cloudFolder: string;
}

const { cloudFolder } = Astro.props;

const cloud_images = await cloudinary.search
  .expression(`folder:${cloudFolder}/*`)
  .sort_by("public_id", "asc")
  .max_results(30)
  .execute()
  .then((res) => {
    return res.resources;
  });
---

<PhotoswipeWrapper>
  <ul class="gallery masonry-gallery">
    {
      cloud_images.map((img: { url: any; width: number; height: number }) => (
        <li class="gallery-item">
          <a
            href={img.url}
            data-pswp-width={img.width}
            data-pswp-height={img.height}
            target="_blank"
          >
            <Image
              src={img.url}
              width={400}
              aspectRatio={img.width / img.height}
              class="gallery__image"
            />
          </a>
        </li>
      ))
    }
  </ul>
</PhotoswipeWrapper>

<style>
  ul {
    columns: 200px;
  }

  .gallery-item {
    margin-bottom: 10px;
  }

  .gallery-item img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
</style>
